{% extends 'EscuelaCommonsBundle::layout.html.twig' %}

{# Page title and heading  #}
{% set page_title="Menú Principal" %}

{% block content %}
<div id="main-content" class="col-md-9 well">
   <h2>{{ page_title }}</h2>
   <ol>
   	</ol>          
</div>
{% endblock %}
